{
  "plugins": [
    "transform-react-jsx",
    "transform-es2015-modules-commonjs",
    [ "file-loader", {
      "extensions": [ 'png', 'ico', 'jpg', 'jpeg', 'gif', 'svg', 'html', 'txt' ] } ],
    "css-modules-transform"
  ],
  "presets": [ "react", "es2015", "stage-0" ]
}
